
    <!-- left navigation bar -->
    <div class="span2">
        <div class="well sidebar-nav">

            <ul class="nav nav-list">

                <li class="nav-header">Accounting</li>
                <li class="nav-item"><a href="/accounting/accounts">      Accounts</a></li>
                <li class="nav-item"><a href="/accounting/revenue">       Revenue</a></li>
                <li class="nav-item"><a href="/accounting/purchaseorders">Purchase Orders</a></li>
                <li class="nav-item"><a href="/accounting/expenses">      Expenses</a></li>
                <li class="nav-item"><a href="/accounting/reports">       Reports</a></li>
                <li class="nav-header">Sales</li>
                <li class="nav-item"><a href="/sales/products">    Catalog</a></li>
                <li class="nav-item"><a href="/sales/prices">      Prices</a></li>
                <li class="nav-item"><a href="/admin/inventory">   Inventory*</a></li>
                <li class="nav-item"><a href="/sales/testimonials">Testimonials</a></li>
                <li class="nav-item"><a href="/sales/customers">   Customers</a></li>
                <li class="nav-header">System</li>
                <li class="nav-item"><a href="/system/recordtypes">Record Types</a></li>
                <li class="nav-item"><a href="/admin/users">       Users</a></li>
                <li class="nav-item"><a href="/admin/logs">        Logs</a></li>
            </ul>

        </div>
    </div><!-- /.span2 -->
