<!-- header -->

  <!-- top nav bar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">

        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="/" class="brand"><img src="@routes.Assets.at("img/logo.png")" id="nav-logo" /> </a>

        <div class="nav-collapse collapse">

          <!-- username
          <div class="pull-right" id="login-label">
            <span>Logged in as </span>
            <a href="#" id="login-link">FirstName</a>
          </div>
          -->

          <ul class="nav">
            <li><a href="/product/2">Steal of the Day</a></li>
            <li><a href="/catalog">Hot Products</a></li>
            <li><a href="/catalog">New Products</a></li>
            <!--<li><a href="#">My Account</a></li>-->

            <li><a href="#" id="cart-anchor">

                <div id="cart-container">
                  <img src="@routes.Assets.at("img/cart2.png")" alt="View Your Cart" id="cart-button" />
                  <div class="cartInfo">
                    <img src="@routes.Assets.at("img/cartPopoverClose.jpg")" alt="View Your Cart" id="cartPopoverClose"  />
                    <span class="simpleCart_quantity"></span> items
                  </div>
                </div>

            </a></li>
          </ul>

          <!-- Login box
          <div id="login-box">
            <p>Sign in to your account <a href="#" id="login-close-btn">(x)</a> </p>
            <form>
              <p><span class="title">Email Address: </span><input name="" type="text" /></p>
              <p><span class="title">Password: </span><input name="" type="password" /></p>
              <p><input class="general-button" name="" type="button" value="Sign In" /></p>
              <p><a href="#" >Forgot your password?</a> | <a href="#" >Help</a></p>
            </form>
          </div>
          <div id="dialog-box-background"></div>
          <!-- /Login Popup -->

        </div>

      </div>
    </div>
  </div>
  <!-- /top nav bar -->

  <!-- nav menu -->
  <div id="nav-menu">

    <!-- departments menu -->

    <div id="department-menu">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <img src="@routes.Assets.at("img/department-menu.png")" alt="Departments Menu Button" />
      </a>

      <ul class="dropdown-menu" role="menu">

        <li data-submenu-id="category-submenu">
          <a href="#" class="submenu-link">Product Categories</a>
          <div class="link-description">See all of Our Product Categories</div>

          <div id="category-submenu" class="popover">
            <h3 class="popover-title">
              <a href="/categories">Product Categories</a><br />
              <div class="link-description">Supplement Categories</div>
            </h3>
            <div class="popover-content">
              <p><a href="/shop-products-by-category/prohormones">Prohormones</a></p>
              <p><a href="/shop-products-by-category/cycle-support">Cycle Support</a></p>
              <p><a href="/shop-products-by-category/preworkout">PreWorkout</a></p>
              <p><a href="/shop-products-by-category/fat-burners">Fat Burners</a></p>
              <p><a href="/shop-products-by-category/male-enhancement">Male Enhancement</a></p>
            </div>
          </div>
        </li>

        <li data-submenu-id="goal-submenu">
          <a href="#" class="submenu-link">Fitness Goals</a>
          <div class="link-description">What are your fitness goals?</div>
          <div id="goal-submenu" class="popover">
            <h3 class="popover-title">
              <a href="/shop-products-by-goal">Fitness Goals</a><br />
              <div class="link-description">Find Supplements that will help you reach your Fitness Goals</div>
            </h3>
            <div class="popover-content">
              <p><a href="/shop-products-by-goal/bulk-muscle">Add Bulk Muscle</a></p>
              <p><a href="/shop-products-by-goal/lean-muscle">Build Lean Muscle</a></p>
              <p><a href="/shop-products-by-goal/burn-fat">Burn Fat</a></p>
              <p><a href="/shop-products-by-goal/increase-energy">Increase Energy</a></p>
              <p><a href="/shop-products-by-goal/increase-libido">Increase Libido</a></p>
              <p><a href="/shop-products-by-goal/improve-mental">Improve Mental Focus</a></p>
            </div>
          </div>
        </li>

        <li data-submenu-id="ingredients-submenu">
          <a href="#" class="submenu-link">Ingredients</a>
          <div class="link-description">Find Supplements with a Specific Ingredient</div>
          <div id="ingredients-submenu" class="popover">
            <h3 class="popover-title">
              <a href="/shop-by-ingredients">Ingredients</a><br />
              <div class="link-description">Supplements below contain the following Specific Ingredient</div>
            </h3>
            <div class="popover-content">
              <p><a href="/shop-products-by-ingredient/protein">Protein Supplements</a></p>
              <p><a href="/shop-products-by-ingredient/creatine">Creatine</a></p>
              <p><a href="/shop-products-by-ingredient/nitrous-oxide">Nitrous Oxide (NO2)</a></p>
              <p><a href="/shop-products-by-ingredient/caffeine">Caffeine</a></p>
              <p><a href="/shop-products-by-ingredient/daa">D-Aspartic Acid (DAA)</a></p>
            </div>
          </div>
        </li>

        <li data-submenu-id="mostpopular-submenu">
          <a href="#" class="submenu-link">Most Popular</a>
          <div class="link-description">See what everyone else is using</div>
          <div id="mostpopular-submenu" class="popover">
            <h3 class="popover-title">
              <a href="/most-popular">The Most Popular Supplements</a><br />
              <div class="link-description">These lists are updated in realtime</div>
            </h3>
            <div class="popover-content">
              <p><a href="/competitive-edge-labs/cycle-assist">Cycle Assist by Competitive Edge Labs (CEL)</a></p>
              <p><a href="/recomp-performance-nutrition/havpc">Havoc by Recomp Performance Nutrition (RPN)</a></p>
              <p><a href="/blackstone-labs/growth">Growth by BlackStone Labs</a></p>
              <p><a href="/serious-nutrition-solutions/piracetam">Piracetam by Serious Nutrition Solutions (SNS)</a></p>
              <p><a href="/leading-edge-herbal/vigrx-plus">Vigrx Plus by Leading Edge Herbal</a></p>
            </div>
          </div>
        </li>

        <li data-submenu-id="brands-submenu">
          <a href="#" class="submenu-link">Favorite Brands</a>
          <div class="link-description">Find your favorite brand</div>
          <div id="brands-submenu" class="popover">
            <h3 class="popover-title">
              <a href="/brands">Favorite Brands</a><br />
              <div class="link-description">View our highly reputable Brands</div>
            </h3>
            <div class="popover-content">
              <p><a href="/shop-products-by-brand/competitive-edge-labs">Competitive Edge Labs (CEL)</a></p>
              <p><a href="/shop-products-by-brand/recomp-performance-nutrition">Recomp Performance Nutrition (RPN)</a></p>
              <p><a href="/shop-products-by-brand/blackstone-labs">BlackStone Labs</a></p>
              <p><a href="/shop-products-by-brand/serious-nutrition-solutions">Serious Nutrition Solutions (SNS)</a></p>
              <p><a href="/shop-products-by-brand/leading-edge-herbal">Leading Edge Herbal</a></p>
            </div>
          </div>
        </li>

        <li data-submenu-id="clearance-submenu">
          <a href="#" class="submenu-link">Sales and Promotions</a>
          <div class="link-description">Check out our current promotions</div>
          <div id="clearance-submenu" class="popover">
            <h3 class="popover-title">
              <a href="/clearance">Sales and Promotions</a><br />
              <div class="link-description">Our promotions and sales save you even more</div>
            </h3>
            <div class="popover-content">
              <p><a href="/competitive-edge-labs/pct-assist">PCT Assist by Competitive Edge Labs (CEL)</a></p>
              <p><a href="/serious-nutrition-solutions/daa-caps">DAA Caps by Serious Nutrition Solutions (SNS)</a></p>
              <p><a href="/leading-edge-herbal/semenax">Semenax by Leading Edge Herbal</a></p>
            </div>
          </div>
        </li>

      </ul>

    </div>
    <!-- departments menu -->

    <div id="search-bar" class="float-left">
      <div id="search-label" class="float-left">Search</div>
      <div class="float-left">
        <input id="search-textbox" type="text" placeholder="Eg : Most popular product names here" autocomplete="off" />
      </div>
      <div class="float-left">
        <input type="button" id="search-button" class="grey-button" value="Go" />
      </div>
    </div>

  </div>
  <!-- /nav menu -->
<!-- /header -->

<!-- cartPopover -->
  <div id="cartPopover">
    <div id="triangle">&#x25B2;</div>
    <div class="simpleCart_items"></div>
    <div id="cartData" class="clearfix">
      <div class="left"><strong>Items: </strong><span class="simpleCart_quantity"></span></div>
      <div class="right"><strong>Total: </strong><span class="simpleCart_total"></span></div>
    </div>
    <div id="popoverButtons" class="clearfix">
      <a href="/cart" class="grey-button">View Cart</a>
      <a href="javascript:;" class="simpleCart_checkout" id="popOverCheckoutButton">Check Out</a>
    </div>
  </div>
<!-- /#cartPopover-->

