
/************************************************************************
 * index view
 ************************************************************************/
#jumboContainer {
  width: 975px;
  overflow: hidden;
}
#jumboRight {
  overflow: hidden;
  margin-left: 20px;
  text-align: right;
}

.gridWrapper {
  margin-left: 10px;
}
ul.productGrid {
  margin: 0px;
}
ul.productGrid li {
  width: 150px;
  margin: 5px 10px 5px 0px;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}
.priceContainer {
  overflow: hidden;
}
.msrp {
  float:left;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  text-decoration: line-through;
  color: rgb(102, 102, 102);
  font-size: 11px;
}
.price {
  float:left;
  margin-left: 5px;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-weight: bold;
  color: #ca3c3c;
  font-size: 14px;
}