/************************************************************************
 * Tess Core
 ************************************************************************/

.float-left {
  float: left;
}

.general-button{
  background-color:#ca3c3c;
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ca3c3c),color-stop(100%,#ba3333));
  background-image:-webkit-linear-gradient(top,#ca3c3c,#ba3333);
  background-image:-moz-linear-gradient(top,#ca3c3c,#ba3333);
  background-image:-ms-linear-gradient(top,#ca3c3c,#ba3333);
  background-image:-o-linear-gradient(top,#ca3c3c,#ba3333);
  background-image:linear-gradient(top,#ca3c3c,#ba3333);
  border:1px solid #922828; /** #63a62f;  */
  box-shadow:0 2px 3px #666666;
  -moz-box-shadow:0 2px 3px #666666;
  -webkit-box-shadow:0 2px 3px #666666;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;color:#fff;
  font-family:  verdana,arial,helvetica,sans-serif;
  font-size:13px;
  color: #FFF;
  text-align:center;
  text-shadow:1px 1px 1px rgba(0,0,0,.5);
  padding: 5px;

}
.general-button:hover{
  background-color:#ba3333;
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ba3333),color-stop(100%,#ca3c3c));
  background-image:-webkit-linear-gradient(top,#ba3333,#ca3c3c);
  background-image:-moz-linear-gradient(top,#ba3333,#ca3c3c);
  background-image:-ms-linear-gradient(top,#ba3333,#ca3c3c);
  background-image:-o-linear-gradient(top,#ba3333,#ca3c3c);
  background-image:linear-gradient(top,#ba3333,#ca3c3c);
  box-shadow:0 2px 3px #666666;
  -moz-box-shadow:0 2px 3px #666666;
  -webkit-box-shadow:0 2px 3px #666666;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  cursor:pointer;
}
.grey-button {
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:8px;
  padding:5px;
  font-family:  verdana,arial,helvetica,sans-serif;
  font-size:13px;
  color: #FFF;
  text-align:center;
  text-shadow:1px 1px 1px rgba(0,0,0,.5);
  border:1px solid #000;
  -webkit-box-shadow:inset 0 1px 0 #6d6d6e;
  -moz-box-shadow:inset 0 1px 0 #6d6d6e;
  box-shadow:inset 0 1px 0 #6d6d6e;

  background: #474747; /*#3a3a3b; /* Old browsers */
  background: -moz-linear-gradient(top,  #6d6d6e 0%, #343434 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6d6e), color-stop(100%,#343434)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6d6d6e 0%,#343434 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6d6d6e 0%,#343434 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6d6d6e 0%,#343434 100%); /* IE10+ */
  background: linear-gradient(top,  #6d6d6e 0%,#343434 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6e', endColorstr='#343434',GradientType=0 ); /* IE6-9 */

}
.grey-button:hover{
  background: #2f2f30; /* Old browsers */
  background: -moz-linear-gradient(top,  #2f2f30 0%, #474747 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f2f30), color-stop(100%,#474747)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2f2f30 0%,#474747 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2f2f30 0%,#474747 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2f2f30 0%,#474747 100%); /* IE10+ */
  background: linear-gradient(top,  #2f2f30 0%,#474747 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f30', endColorstr='#474747',GradientType=0 ); /* IE6-9 */
  text-decoration: none;
  color: #FFF;
}
.grey-button:active{
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  background: #282828; /* Old browsers */
  background: -moz-linear-gradient(top,  #282828 0%, #2f2f30 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#282828), color-stop(100%,#2f2f30)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #282828 0%,#2f2f30 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #282828 0%,#2f2f30 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #282828 0%,#2f2f30 100%); /* IE10+ */
  background: linear-gradient(top,  #282828 0%,#2f2f30 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#2f2f30',GradientType=0 ); /* IE6-9 */
}



/** dataEntry **/
#frmDataEntry input {width:90%;}
#frmDataEntry select {width:95%;}
.error-input {
  border-color: rgba(256, 0, 0, 0.8) !important;
  box-shadow: 0 1px 1px rgba(256, 0, 0, 0.075)
  inset, 0 0 8px rgba(256, 0, 0, 0.6) !important;
  outline: 0 none !important;
}

/** dataTable popup **/
div.pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}


/** unused **/
#dialog-box-background{
  display:none;
  _position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background:#000000;
  border:1px solid #cecece;
  position:fixed;
  z-index:99999999;
}
