
/************************************************************************
 * header
 ************************************************************************/
/** top navigation **/
.nav-list > .active > a,
.nav-list > .active > a:focus {
  color: rgb(0, 0, 0);
  padding: 17px 15px;
}
.navbar-inverse .nav-collapse .nav > li > a,
.navbar-inverse .nav-collapse .dropdown-menu a {
  color: rgb(255, 255, 255);
}
.nav-list > .active > a:hover,
.navbar-inverse .nav > li > a:hover {
  color: rgb(255, 0, 0);
}
.navbar .nav {
  margin: 8px 10px 0 0;
  font-size: 12px;
  font-weight: bold;
}
#nav-logo {
  width: 200px;
  height: 35px;
}

/** login box **/
#login-label {
  margin-top: 30px;
  color: rgb(150, 150, 150);
}
#login-label > span {
  font-size: 12px;
}
a#login-link:hover {
  color: rgb(255, 0, 0);
  text-decoration: none;
}
#login-link {
  color: rgb(255, 255, 255);
}
#login-box{
  display:none;
  width:420px;
  border:solid 1px #000;
  background-color:#FFF;
  box-shadow:0 0 20px #000;
  -moz-box-shadow:0 0 20px #000;
  -webkit-box-shadow:0 0 20px #000;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  padding:10px;
  padding-left:20px;
  padding-right:20px;
  font-family:Verdana,Geneva,sans-serif;
  font-size:11px;
  top:20%;
  right:30%;
  position:fixed;
  z-index:9999999999;
}

/** nav menu **/
#nav-menu {
  width: 800px;
  overflow: hidden;
}
  #department-menu {
    float:left;
    margin: 10px 0px 0px 10px;
  }
  #search-bar {
    overflow: hidden;
    left: 250px;
    top: 68px;
    margin: 17px 0px 10px 40px;
  }
    #search-label {
      float:left;
      font-family: "Myriad Pro";
      font-size: 14px;
      font-weight: bold;
      left: 140px;
      margin-top: 5px;
    }
    #search-textbox{
      margin-left: 5px;
      width: 400px;
    }
    #search-button{
      padding: 4px 6px 5px 6px;
      margin-left: 1px;
    }
    #cart-anchor{
      padding: 0px;
    }
    #cart-container{
      /*width: 120px;*/
    }
    #cart-button{
      height: 40px;
      width: 40px;
      margin-left: 20px;
      float: left;
    }
    .cartInfo{
      margin: 2px 0px 0px 3px;
      padding: 8px;
      float: right;
      text-align: center;
      background:#FFF;
      font-size:13px;
      font-weight:bold;
      color:#6e6e6e;
      text-shadow:1px 1px 0 #fff;
      -webkit-border-radius:3px;
      -moz-border-radius:3px;
      border-radius:4px;
      -webkit-box-shadow:inset 0 0 1px 0px rgba(0,0,0,.20), 0 1px 0 #fff;
      -moz-box-shadow:inset 0 0 1px 0px rgba(0,0,0,.20), 0 1px 0 #fff;
      box-shadow:inset 0 0 1px 0px rgba(0,0,0,.20), 0 1px 0 #fff;
      -webkit-transition:background-color .2s linear;
    }
    .cartInfo.open{
      background-position:-218px -26px;
    }
    .simpleCart_quantity{
      font-family:"Trebuchet MS",sans-serif;
    }
    #cartPopoverClose{
      display: none;
    }

/********************************
	CART POPOVER
********************************/
#cartPopover{
  position:absolute;
  top:72px;
  left:500px;
  z-index:9999;
  display:none;

  color:#fff;
  text-shadow:1px 1px 0 rgba(0,0,0,.8);
  font-family:"FreightSansMedium", sans-serif;

  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  border:1px solid #000;
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
  box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);

  background: #45484a; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484a 0%, #2a2b2c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484a), color-stop(100%,#2a2b2c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484a 0%,#2a2b2c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484a 0%,#2a2b2c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484a 0%,#2a2b2c 100%); /* IE10+ */
  background: linear-gradient(top,  #45484a 0%,#2a2b2c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484a', endColorstr='#2a2b2c',GradientType=0 ); /* IE6-9 */
}
.simpleCart_items > table {
  width: 300px;
}
#triangle{
  position: absolute;
  left: 50%;
  margin-left: -12px;
  color: #45484A;
  top: -21px;
  font-size: 24px;
  text-shadow: 0 1px 0 #444749;
  -webkit-transform: scale(1.2,.8) translateY(1.5px);
  -moz-transform: scale(1.2,.8) translateY(1.5px);
  transform: scale(1.2,.8) translateY(1.5px);
}
#cartPopover .itemRow{
  border-bottom:1px solid #2B2D2E;
  border-top:1px solid #434547;
  padding:10px;
  height:12px;
}
#cartPopover .item-custom > span{
  float: left;
  margin-bottom: 2px;
  margin-right: 10px;
}
#cartPopover .item-custom > div{
  float: left;
}
#cartPopover .simpleCart_increment,
#cartPopover .simpleCart_decrement{
  line-height:1;
  height:5px;
  margin-bottom: 3px;
  margin-right: 5px;
  content:'';
}
.cartarrow {
  height: 20px;
  width: 20px;
}
#cartPopover .item-custom,
#cartPopover .item-name,
#cartPopover .item-total{
  text-align: left;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#cartPopover .item-name {
  width: 50%;
}
#cartData{
  background:#232425;
  padding:10px;
}
#cartData strong{
  font-family:"FreightSans", sans-serif;
}
#popoverButtons{
  padding:10px;
}
#cartPopover strong{
  color:#fff;
}
#popOverCheckoutButton {
  padding: 5px;
  background-color:#ca3c3c;
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ca3c3c),color-stop(100%,#ba3333));
  background-image:-webkit-linear-gradient(top,#ca3c3c,#ba3333);
  background-image:-moz-linear-gradient(top,#ca3c3c,#ba3333);
  background-image:-ms-linear-gradient(top,#ca3c3c,#ba3333);
  background-image:-o-linear-gradient(top,#ca3c3c,#ba3333);
  background-image:linear-gradient(top,#ca3c3c,#ba3333);
  border:1px solid #922828; /** #63a62f;  */
  box-shadow: 0 1px 0 #6d6d6e;
  -moz-box-shadow:0 2px 3px #666666;
  -webkit-box-shadow:0 2px 3px #666666;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;color:#fff;
  font-family:  verdana,arial,helvetica,sans-serif;
  font-size:13px;
  color: #FFF;
  text-align:center;
  text-shadow:1px 1px 1px rgba(0,0,0,.5);
}
#popOverCheckoutButton:hover{
  background-color:#ba3333;
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ba3333),color-stop(100%,#ca3c3c));
  background-image:-webkit-linear-gradient(top,#ba3333,#ca3c3c);
  background-image:-moz-linear-gradient(top,#ba3333,#ca3c3c);
  background-image:-ms-linear-gradient(top,#ba3333,#ca3c3c);
  background-image:-o-linear-gradient(top,#ba3333,#ca3c3c);
  background-image:linear-gradient(top,#ba3333,#ca3c3c);
  box-shadow:0 2px 3px #666666;
  -moz-box-shadow:0 2px 3px #666666;
  -webkit-box-shadow:0 2px 3px #666666;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  cursor:pointer;
  text-decoration: none;
}

/********************************
	Departments Menu/Popover
********************************/
.dropdown-menu {
  top: 105px;
  padding: 15px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
  .dropdown-menu > li {
    padding-bottom: 3px;
  }
  .dropdown-menu > li > a,
  .submenu-link  {
    color: #08C;
    padding: inherit;
  }
  .dropdown-menu > li > a:hover,
  .submenu-link:hover {
    color: #CA3C3C;
    text-decoration: underline;
    font-weight: bold;
    background-image: none;
    background-color: #ffffff;
    filter: none;
  }
  a.maintainHover {
    font-weight: bold;
    text-decoration: underline;
    background-image: none;
    background-color: #ffffff;
  }
  .link-description {
    font-size: 11px;
    font-weight: normal;
    color: #999;
    padding-left: 3px;
    line-height: 10px;
  }
  .link-description:hover {
    text-decoration: none;
  }

.popover {
  width: 510px;
  max-width: 510px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: hidden;
}
  .popover-title > a {
    font-size: 14px;
    font-weight: normal;
  }
.popover-title > a:hover {
  color: #CA3C3C;
 }
  .popover-content {
    text-align: left;
    font-size: 12px;
    background-color: white;
    height: 212px;
    max-width: 300px;
  }
  .popover-content > p > a {
    color: #000;
    font-weight: normal;
    text-decoration: none;
  }
  .popover-content > p > a:hover {
    color: #CA3C3C;
    text-decoration: underline;
  }


/************************************************************************
 * footer
 ************************************************************************/
#footer {
  bottom:0px;
  width:100%;
  height:60px;
  text-align:center;
}
.lnkFooter {
  margin:10px;
}
