
/************************************************************************
 * product view
 ************************************************************************/

#leftCol {

}
#centerCol {
  width: 200px;
  margin: 10px;
  padding: 10px;
}
#rightCol{
  margin: 10px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-align: center;
}

#ddlOptions{
  width: 70px;
}
#ddlQty{
  width: 70px;
}
#addcart-button{
  padding: 5px;
  margin-bottom: 2px;
}

.gridWrapper {
  margin-left: 10px;
}
ul.productGrid {
  margin: 0px;
}
ul.productGrid li {
  width: 150px;
  margin: 5px 10px 5px 0px;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}

.greyLabel {
  font-family: Arial,Verdana,Helvetica,sans-serif;
  color: rgb(102, 102, 102);
  font-size: 13px;
  text-align: right;
}
#msrp {
  font-family: Arial,Verdana,Helvetica,sans-serif;
  text-decoration: line-through;
  color: rgb(102, 102, 102);
  font-size: 13px;
}
#price {
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-weight: bold;
  color: #ca3c3c;
  font-size: 17px;
}
#savings {
  font-size: 13px;
  color: #ca3c3c;
}