@(message: String)

@main("StealStation :: Find a Steal of a Deal!") {

  <!-- Page Specific CSS and Javascript -->
  <script src="@routes.Assets.at("js/views/catalog.js")"></script>
  <link type="text/css" rel="stylesheet" href="@routes.Assets.at("css/views/catalog.css")" />

  <!-- responsive row -->
  <div class="row-fluid">

    <h5>@message</h5>

    <div class="gridWrapper span9">

      <ul class="productGrid">
        <li>
          <a href="#">
            <img src="@routes.Assets.at("img/ads/ad1.jpg")" alt="This is an AD for product 1" />
            <h4>Logo Shirt (Gray)</h4>
            <p>$20.00</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@routes.Assets.at("img/ads/ad2.jpg")" alt="This is an AD for product 1" />
            <h4>Mike the Frog Shirt (Orange)</h4>
            <p>$25.00</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@routes.Assets.at("img/ads/ad1.jpg")" alt="This is an AD for product 1" />
            <h4>Logo Shirt (Gray)</h4>
            <p>$20.00</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@routes.Assets.at("img/ads/ad2.jpg")" alt="This is an AD for product 1" />
            <h4>Logo Shirt (Gray)</h4>
            <p>$20.00</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@routes.Assets.at("img/ads/ad1.jpg")" alt="This is an AD for product 1" />
            <h4>Logo Shirt (Gray)</h4>
            <p>$20.00</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@routes.Assets.at("img/ads/ad2.jpg")" alt="This is an AD for product 1" />
            <h4>Logo Shirt (Gray)</h4>
            <p>$20.00</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@routes.Assets.at("img/ads/ad1.jpg")" alt="This is an AD for product 1" />
            <h4>Logo Shirt (Gray)</h4>
            <p>$20.00</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@routes.Assets.at("img/ads/ad2.jpg")" alt="This is an AD for product 1" />
            <h4>Logo Shirt (Gray)</h4>
            <p>$20.00</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@routes.Assets.at("img/ads/ad1.jpg")" alt="This is an AD for product 1" />
            <h4>Logo Shirt (Gray)</h4>
            <p>$20.00</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@routes.Assets.at("img/ads/ad2.jpg")" alt="This is an AD for product 1" />
            <h4>Logo Shirt (Gray)</h4>
            <p>$20.00</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@routes.Assets.at("img/ads/ad1.jpg")" alt="This is an AD for product 1" />
            <h4>Logo Shirt (Gray)</h4>
            <p>$20.00</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@routes.Assets.at("img/ads/ad2.jpg")" alt="This is an AD for product 1" />
            <h4>Logo Shirt (Gray)</h4>
            <p>$20.00</p>
          </a>
        </li>
      </ul>

    </div><!-- /gridWrapper -->

    <h3>Ads Ads Ads</h3>

  </div><!-- /.row-fluid -->

}