@(products: Seq[Product], message: String)

@main("StealStation :: Find a Steal of a Deal!") {

  <!-- Page Specific CSS and Javascript -->
  <script src="@routes.Assets.at("js/views/catalog.js")"></script>
  <link type="text/css" rel="stylesheet" href="@routes.Assets.at("css/views/catalog.css")" />

  <!-- responsive row -->
  <div class="row-fluid">

    <h5>@message</h5>

    <div class="gridWrapper span9">

      <ul class="productGrid">
        @products.map {
          case (product) => {
            <li>
              <a href="/@product.url">
                <img src="@routes.Assets.at("img/products/"+product.id+".png")" alt="@product.name" />
                <div class="name">@product.name</div>
              </a>
              <div class="priceContainer">
                <div class="msrp">$@product.msrp</div>
                <div class="price">$@product.price</div>
              </div>
            </li>
          }
        }
      </ul>

    </div><!-- /gridWrapper -->

    <div id="jumboRight" class="float-left">
      <img src="@routes.Assets.at("img/satisfaction.png")" alt="Satisfaction Guaranteed" />
      <br />
      <img src="@routes.Assets.at("img/paypal.png")" alt="Paypal Accepted" />
      <br >
      <img src="@routes.Assets.at("img/shipping.png")" alt="Fast Shipping" />
    </div><!-- / -->

  </div><!-- /.row-fluid -->

}